{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}

        {% for label, messages in app.flashes %}
        <div class="alert alert-{{ label }} homepage-alert">
            {% for message in messages %}
                <p> {{ message }} </p>
            {% endfor %}
        </div>
        {% endfor %}

    <div class="jumbotron">
        <div class="col-md-6">
            <h1 class="header-title">Snowtricks</h1>
            <a class="arrow-down-button" href="#all-tricks"><i class="fas fa-arrow-down fa-3x"></i></a>
        </div>
    </div>


    <div class="all-tricks" id="all-tricks">
            {{ render(path('trick_page_with_limit', {page: 1, limit: 6})) }}

            <span class="trick-card text-center w-100 load-more">
			<a href="#" class="btn  mx-auto w-75" id="loadmore">
				<i class="fas fa-spinner"></i>
				Load more tricks</a>
		</span>

    <a class="arrow-up-button" href="#all-tricks"><i class="fas fa-arrow-up fa-3x"></i></a>
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/loadmore.js') }}"></script>
{% endblock %}