{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
    <div id="home-header"">
        <div class="jumbotron">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div id="header-title" class="col-md-6">
                        <h1>Snowtricks</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="container" id="all-tricks">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for trick in tricks %}
                    <div class="card mb-4">
                        <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="trick/{{ trick.id }}"><h5
                                        class="card-title">{{ trick.name }}</h5></a>
                        </div>
                    </div>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                <div class="col">
                    <div class="card">
                        <img src="https://picsum.photos/300/200" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="{{ path('trick_new') }}" class="btn btn-danger">Create new trick</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination">

                {% for item in 1..((total / limit)|round(0, 'ceil')) %}
                    <a href="?page={{ item }}">{{ item }}</a>

                {% endfor %}
            </ul>

        </div>

    </div>
{% endblock %}
