{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="col-md-6 header-title">
            <h1>Snowtricks</h1>
        </div>
    </div>

    <div class="container-fluid">
        {% if app.user %}
            <a href="{{ path('trick_new') }}" class="btn btn-danger">Create new trick</a>
        {% endif %}

        <div class="all-tricks">
            {% for trick in tricks %}

                <div class="trick-card">
{#                    {% if trick.media|length > 0 %}#}
                        {% for media in trick.media %}
                            <img class="card-image" src="{{
                            trick.media|length > 0 ?
                                trick.media.first.name: asset('/uploads/'~ media.name)

                            }}" alt="main trick image">
                        {% endfor %}
{#                    {% else %}#}
                        <img class="card-image" src="{{ asset('/images/default_image.jpeg') }}" alt="main trick image">
{#                    {% endif %}#}
{#                    <img src="https://picsum.photos/300/200" class="card-img-top" alt="trick image">#}
                    <div class="card-body">
                            <a href="trick/{{ trick.id }}"><h5 class="card-title">{{ trick.name }}</h5></a>

                        {% if app.user %}

                            <div class="col-1">
                                <a href="{{ path('trick_edit', {'slug': trick.slug}) }}"><i
                                            class="fas fa-pencil-alt"></i></a>
                            </div>
                            <div class="col-1">
                                <a href="{{ path('trick_delete', {'slug': trick.slug}) }}">
                                    <i class="fas fa-trash-alt"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                    <p>Il n'a aucun trick</p>
            {% endfor %}
        </div>
        <ul class="pagination">
            {% for item in 1..((total / limit)|round(0, 'ceil')) %}
                <a href="?page={{ item }}">{{ item }}</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
