{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
{# {{ form_widget(form) }} #}


<div class="trick-details">
    <p>Category: {{ form_row(form.category, {'label': false}) }}</p>
</div>

<hr>
<div class="trick-description">
    <h4 class="card-title">{{ form_row(form.name, {'attr': {'placeholder': 'Titre de trick', 'label' : 'Titre de trick'}}) }}</h4>
    <h4 class="card-text">{{ form_row(form.description|raw, {'attr': {'placeholder': 'Description', 'label' : 'Titre de trick'}}) }}</h4>

</div>
<div class="images">
    <div>

    <h4>Ajouter des images</h4>
    {{ form_row(form.medias, {'label': false}) }}
    </div>
    <div class="trick-images">
    {% if app.request.attributes.get('_route') == 'trick_edit' %}
            {% for media in medias %}
                <div class="file-media" id="img-{{ media.id }}">
                    <img src="{{ asset('/uploads/'~ media.name) }}" alt="file-media">
                    <a class="delete-img img-{{ media.id }}" id="{{ media.id }}" data-delete
                       data-token="{{ csrf_token('delete'~ media.id) }}">
                        <i class="far fa-times-circle"></i>
                    </a>
                </div>
            {% endfor %}

    {% endif %}
    </div>
</div>

 <div class="trick-videos">
 <h4>Ajouter des videos</h4>

 {{ form_row(form.videos, {'label': false, 'attr': {'class': 'videoUpload'} }) }}
{{ dump(app.session.get('video')) }}

{#     <div class="videos">#}
{#         {% if video.videoUrl is defined %}#}
{#             <div class="file-media">#}
{#                 <embed type="video/mp4" src="{{ video.videoUrl }}">#}
{#             </div>#}
{#         {%  endif  %}#}
{#     </div>#}
 </div>

<button class="btn btn-warning btn-lg">{{ button_label|default('Créer un trick') }}</button>
{{ form_end(form) }}



{#     <div class="col-md-4">#}
{#         <p class="help-video">Pour ajouter une vidéo :</p>#}
{#         <ol class="help-video">#}
{#             <li>Sélectionnez votre vidéo sur l'hébergeur de votre choix.</li>#}
{#             <li>Cliquez sur le lien <strong>Partager</strong></li>#}
{#             <li>Sélectionnez <strong>Intégrer</strong>.</li>#}
{#             <li>Copiez le lien de la vidéo et collez-le dans le champ.</li>#}
{#         </ol>#}
{#     </div>#}
