{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
{# {{ form_widget(form) }} #}

<div class="trick-description">
    <h5 class="card-title">{{ form_label(form.name, 'Titre de trick:') }}
        {{ form_row(form.name, {'attr': {'placeholder': 'Titre de trick', 'label': false,}}) }}
    </h5>
    <h5>Category: {{ form_row(form.category, {'label': false}) }}</h5>
    <h5 class="card-text">{{ form_row(form.description|raw, {'attr': {'placeholder': 'Description', 'label' : 'Description:'}}) }}</h5>

</div>
<div class="images">
        {% if app.request.attributes.get('_route') == 'trick_edit' %}
    <div class="trick-images-edit">
            {% for media in medias %}
                <div class="file-media" id="img-{{ media.id }}">
                    <img src="{{ asset('/uploads/'~ media.name) }}" alt="image of trick: {{ trick.name }} ">
                    <a class="delete-img img-{{ media.id }}" id="{{ media.id }}" data-delete
                       data-token="{{ csrf_token('delete'~ media.id) }}">
                        <i class="far fa-times-circle"></i>
                    </a>
                </div>
            {% endfor %}
    </div>
        {% endif %}
    <div class="upload-images">
        <h4>Ajouter des images</h4>
        {{ form_row(form.medias, {'label': false}) }}
        <div id="images-to-upload">
        </div>
    </div>
</div>

<div class="trick-videos">
    {% if app.request.attributes.get('_route') == 'trick_edit' %}
        <div class="videos">
            {% for video in videos %}
                <div class="video-file" id="video-{{ video.id }}">
                    <embed type="video/mp4" src="{{ video.videoUrl }}">
                    <a class="delete-video video-{{ video.id }}" id="{{ video.id }}">
                        <i class="far fa-times-circle"></i>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="add-video">
    <h4>Ajouter des videos</h4>
        {{ dump(app.session.get('video')) }}
    {{ form_row(form.videos, {'label': false, 'attr': {'class': 'videoUpload'} }) }}
    </div>
    <div class="videos-to-upload">

    </div>
</div>
<div class="btn-edit-page">
<button class="btn btn-warning btn-lg">{{ button_label|default('Créer un trick') }}</button>
</div>
{{ form_end(form) }}

