{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    {{ form_row(form.name, {'attr': {'placeholder': 'Titre de trick'}}) }}
    {{ form_row(form.description, {'attr': {'placeholder': 'Description'}}) }}
    {{ form_row(form.category) }}
    {{ form_row(form.medias) }}
{% if app.request.attributes.get('_route') == 'trick_edit' %}
    <h2>Ajouter des médias</h2>
    {% for media in trick.media %}
        <div>
            <img src="{{ asset('/uploads/'~ media.name) }}" alt="file-media" width="150">
           <a href="{{ path('trick_delete_media', {'id': media.id}) }}">Supprimer</a>
{#              data-delete data-token="{{ csrf_token('delete'~ media.id)}}#}

        </div>
    {% endfor %}
{% endif %}

<button class="btn btn-warning btn-lg">{{ button_label|default('Créer un trick') }}</button>
{{ form_end(form) }}
