{% if medias %}
    <div class=" trick-images owl-carousel">
        {% for media in medias %}
            <div class="image">
                <img src="{{ asset('/uploads/'~ media.name) }}" alt="image of trick: {{ trick.name }} ">
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if videos %}

{#    <div class="trick-videos">#}
{#        <div class="videos">#}
{#            #}{# {% if video.videoUrl is defined %} #}
{#            {% for video in videos %}#}
{#                <div class="video-file" id="video-{{ video.id }}">#}
{#                    <embed type="video/mp4" src="{{ video.videoUrl }}">#}
{#                </div>#}
{#            {% endfor %}#}
{#            #}{# {%  else  %} #}
{#            #}{# <p>Il n'y a pas de video pour ce trick</p> #}
{#            #}{# {%  endif  %} #}
{#        </div>#}
{#    </div>#}


    <div class="list-of-videos owl-carousel">
        {% for video in videos %}
            <div class="video-file" id="video-{{ video.id }}">
                <embed type="video/mp4" src="{{ video.videoUrl }}">
            </div>
        {% endfor %}
    </div>
{% endif %}