{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}


<div class="trickInfo container-fluid">
    <div class="row">

            <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Picswiss_VD-44-23.jpg"
                 alt="image cap">
                <div class="card-body">
                    <div class="col-4">
                        <link type="button" class="link-dark"><a href="{{ path('home') }}"><i class="fas fa-arrow-left"></i>back to list</a></link>
                    </div>
                    <h5 class="card-title">{{ trick.name }}</h5>
                    <p class="card-text">{{ trick.description|raw }}</p>
                    <p class="card-text"><small class="text-muted"> Ajouté
                            le {{ trick.createdAt ? trick.createdAt|date('d/m/Y H:i') : '' }}</small></p>
                    {% if trick.updatedAt %}
                        <p class="card-text"><small class="text-muted">Dernière mise à jour
                                le {{ trick.updatedAt ? trick.updatedAt|date('d/m/Y H:i') : '' }}</small></p>
                    {% endif %}

                    <p>Category: <a href="#" class="link-success">{{ trick.category.name }}</a></p>
                </div>
                <div class="row justify-content-md-center">

                    <div class="col-4">
                        <button type="button" class="btn btn-danger btn-lg"><a
                                    href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a></button>
                    </div>
                    <div class="col"> {{ include('trick/_delete_form.html.twig') }}</div>
                </div>
            </div>
        </div>
        <div class="col-6">
rgr
        </div>
    </div>


        <section id="comments">
            <h4> {{ trick.comments| length  }} Commentaires:</h4>
            {% for comment in comments %}

                <div class="comment col-6">
                    <div class="row">
                        <div class="col-3">

                            <small class="text-muted">  {{ comment.createdAt ? comment.createdAt|date('d/m/Y H:i') : '' }}  </small>
                        </div>
                        <div class="col">
                            {{ comment.content|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if app.user %}

                   {{ form_start(commentForm) }}
                  {{ form_row(commentForm.content) }}
                  <button type="submit" class="btn btn-success">Ajouter commentaire</button>
                  {{ form_end(commentForm) }}

            {% else %}
                <h4>Vous ne pouvez pas commenter si vous n'ètes pas connecté</h4>
                <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
            {% endif %}
        </section>

</div>

{% endblock %}
