{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}

    <section class="info-trick">
        <div class="main-image">
            {% if trick.media[0] is defined %}
                {% set firstImage = trick.media[0] %}
                <img class="first-image" src="{{ asset('/uploads/'~ firstImage.name) }}" alt="main trick image">
            {% else %}
                <img class="first-image" src="{{ asset('/images/default_image.jpeg') }}" alt="default trick image">
            {% endif %}

            {% if app.user %}
                <div class="btn-trick">
                    <button class="btn btn-trick-edit"><a href="{{ path('trick_edit', {'slug': trick.slug}) }}"><i
                                    class="fas fa-pencil-alt fa-lg"></i></a></button>
                    {% embed "trick/_delete_form.html.twig" %}
                        {% set btn = '<button class="btn btn-trick-delete"><i class="fas fa-trash-alt 1-x"></i></button>' %}
                    {% endembed %}
                </div>
            {% endif %}
        </div>
        <div class="trick-details">
            <p>Category: {{ trick.category.name }}</p>
            <p>Ajouté le {{ trick.createdAt ? trick.createdAt|date('d/m/Y H:i') : '' }}</p>
            {% if trick.updatedAt %}
                <p>Mise à jour le {{ trick.updatedAt ? trick.updatedAt|date('d/m/Y H:i') : '' }}</p>
            {% endif %}
            <p>Auteur: {{ trick.user.username }}</p>
            <p> {{ trick.comments| length }} commentaires</p>
        </div>

        <div class="trick-images">
            {% for media in trick.media %}
                <div class="file-media">
                    <img src="{{ asset('/uploads/'~ media.name) }}" alt="file-media">
                    {# <a href="{{ path('trick_delete_media', {'id': media.id}) }}" data-delete data-token="{{ csrf_token('delete'~ media.id)}}">Supprimer</a>
                    #}
                </div>
            {% endfor %}
            {# <link type="button" class="link-dark"> #}
            {# <a href="{{ path('home') }}"><i class="fas fa-arrow-left"></i>back to list</a> #}
            {# {% include('trick/_carousel.html.twig') %} #}
        </div>

        <div class="trick-videos">


            {# <div class="col-4"> #}
            {# <button type="button" class="btn btn-danger btn-lg"><a #}
            {# href="{{ path('trick_edit', {'slug': trick.slug}) }}">edit</a></button> #}
            {# </div> #}
            {# <div class="col"> {{ include('trick/_delete_form.html.twig') }}</div> #}
        </div>

        <hr>
        <div class="trick-description">
            <h5 class="card-title">{{ trick.name }}</h5>
            <p class="card-text">{{ trick.description|raw }}</p>
        </div>
        <hr>


        {# <div class="col-4"> #}
        {# <button type="button" class="btn btn-warning btn-lg"><a #}
        {# href="{{ path('trick_edit', {'id': trick.id}) }}">Modifier</a></button> #}
        {# </div> #}
        {# <div class="col"> {{ include('trick/_delete_form.html.twig') }}</div> #}

        {{ include('trick/_comments_section.html.twig') }}

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
            integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/loadmore.js') }}"></script>
{% endblock %}