{% extends 'base.html.twig' %}

{% block title %}Profile de {{ user.username }}{% endblock %}

{% block body %}
    <div class="container login">
        <h1>Profile de
            {% if user.fullName is not empty %}
                {{ user.fullName }}
            {% else %}
                {{ user.username }}
            {% endif %}
        </h1>
        <div>
            <img src="{{ asset('/uploads/'~ user.userPicture) }}" alt="Photo de {{ user.fullName }}"
                 class="photo-profile">
        </div>
        <div class="form-group">
            <h4>Username</h4>
            <p>{{ user.username }}</p>
        </div>
        <div class="form-group">
            <h4>Full name</h4>
            {% if user.fullName is not empty %}
                <p>{{ user.fullName }}</p>
            {% else %}
                <p>Le nom n'est pas renseigné.</p>
            {% endif %}

        </div>
        <div class="form-group">
            <h4>Email</h4>
            <p>{{ user.email }}</p>
        </div>
        <a href="{{ path('profile_edit', {'username': user.username}) }}" type="button" class="btn btn-primary mt-3">
            Modifier le profile
        </a>
        <a class="btn btn-primary mt-3" type="button">
            Modifier le mot de passe
        </a>
    </div>
{% endblock %}
